{% extends 'layout.html' %}
{% block style %}
<style>
    #page_title{
        font-size : 25px;
        font-family: 'Do Hyeon';
        text-align : center;
        margin-bottom : 15px;
    }
    #page_content{
        width : 750px;
        margin : auto;
        margin-top : 15px;
        overflow : hidden;
        text-align : center;
    }
    #page_content #left_page{
        width : 350px;
        margin : auto;
        margin-top : 15px;
        overflow : hidden;
        float : left;
        padding : 10px;
        text-align : center;
    }
    #page_content #right_page{
        width : 350px;
        margin : auto;
        margin-top : 15px;
        overflow : hidden;
        float : right;
        padding : 10px;
        text-align : center;
    }
    #member_box{
        padding : 15px;
        height : 600px;
        overflow : auto;
    }
    #member_list{
        margin : 15px auto;
        border-collapse : collapse;
    }
    #member_list tr th{
        background-color: lightgray;
        border-top : 1px solid black;
        border-bottom : 1px solid black;
        font-size : 14px;
        padding : 6px 3px;
    }
    #member_list tr td{
        background-color: white;
        border-bottom : 1px solid black;
        padding : 6px 3px;
        font-size : 12px;
        text-overflow:ellipsis;
    }
    .input-group { margin-bottom: 15px; }
    .input-group label { width: 25%; display: inline-block; }
    .input-group input { width: 50%; font-size: 18px;}
</style>
{% endblock %}
{% block main_content %}
<div id="page_title">경기 기록</div><hr>
<div id="page_content">
    <div id="left_page">
        <h3 id="date_info">경기 진행일 : 11/23 ~ 11/30</h3>
        <div id="member_box">
            <table id="member_list">
                <tr>
                    <th width="160">참여자</th>
                    <th width="160">누적 포인트</th>
                </tr>
            </table>
        </div>
        {% if member.is_join == false %}
        <p>현재 경기에 참여하고 있지 않습니다!</p>
        <button class="btn_m" onclick="attend_match();">경기 참여</button>
        {% else %}
        <p>현재 경기에 참여중입니다.</p>
        {% endif %}
    </div>
    <div id="right_page">
        ㅁㅁㅁ
    </div>
</div>    
{% endblock %}
{% block script %}
<script>
$(function(){
    get_record_data('/record/cur');
});

const get_record_data = (url) => {
    axios.get(url)
    .then((res) => {  
        const list = document.getElementById('member_list');
        list.innerHTML = '<tr><th width="160">참여자 </th><th width="160">누적 포인트</th><th width="90">점수변경</th>';
        if(res.data.result == 'success'){
            const members = res.data.members;
            members.map((x) => {
                const tableTr = document.createElement('tr');
                const nameTd = document.createElement('td');
                const pointTd = document.createElement('td');
                const btnTd = document.createElement('td');
                const btn_operate = document.createElement('button')
                btn_operate.textContent = "변경"
                btn_operate.className = "btn_m";
                //버튼 클릭시 이벤트리스너 추가
                btn_operate.addEventListener('click', () => { 
                    location.href= "/team/" + x.id;
                });
                btnTd.appendChild(btn_operate);
                nameTd.textContent = x.m_name;
                pointTd.textContent = x.point;
                tableTr.appendChild(nameTd);
                tableTr.appendChild(pointTd);
                tableTr.appendChild(btnTd);

                tableTr.addEventListener('click', () => { 
                    
                });
                list.appendChild(tableTr);
            });
            document.getElementById('date_info').innerHTML = `현재 내기 기간 <br> ${res.data.record.startDate} ~<br> ${res.data.record.endDate} &nbsp;&nbsp;`
        }   
        else{
            alert('검색 결과가 없습니다.');
        }
    })
    .catch((err) => {
        console.error(err);
    });    
}

const attend_match = () => {
    axios.post('/record/attend/{{member.id}}')
    .then((res) => {
        if(res.data.result == 'success'){
            alert('이번주 내기에 참가합니다!');
            location.reload();
        }
        else{
            alert('참가에 실패했습니다.')
        }
    });
}
</script>
    
{% endblock %}